{% extends 'base.html.twig' %}
{% block title %} Articles {% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.body }}</p>
    <hr>
    <a href="/" class="btn btn-primary">Go Back</a> <a href="/article/edit/{{ article.id }}" class="btn btn-info">Edit</a>
{% endblock %}